/**
 * Backend language switcher
 *
 * @author John J. Camilleri
 * @version 0.1
 */

.backend-language-switcher {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.backend-language-switcher li {
	border-radius: 5px;
	transition: background-color 0.45s;
	color: #ffffff;
	font-size: 1.0rem;
	padding: 0.25rem 0.75rem;
	background-color: #d3dce2;
	cursor: pointer;
}

.backend-language-switcher li.selected,
.backend-language-switcher li:hover {
	background-color: #2f77eb;
}

.backend-language-switcher li + li {
	margin-left: 0.5rem;
}
