/**
 * Backend language switcher
 *
 * @author John J. Camilleri
 * @version 0.1
 */

.backend-language-switcher-ctn {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	cursor: auto;
}

.backend-language-switcher-ctn > span {
	padding-right: 1rem;
}

.backend-language-switcher {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	margin: 0;
	padding: 0;
}

.backend-language-switcher li {
	transition: color 0.2s;
	color: currentColor;
	font-size: 1.0rem;
	text-transform: uppercase;
	cursor: pointer;
}

.backend-language-switcher li.selected,
.backend-language-switcher li:hover {
	color: #2f77eb;
}

.backend-language-switcher li + li {
	margin-left: 0.5rem;
}
