/**
 * Backend language switcher
 *
 * @author John J. Camilleri
 * @version 1.0.0
 */
.backend-language-switcher {
	padding: var(--standard-inner-rhythm);
	border-bottom: 1px solid var(--color-main-lighter);
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.backend-language-switcher svg {
	width: var(--standard-inner-rhythm);
	height: var(--standard-inner-rhythm);
}

.backend-language-switcher button {
	padding: 0;
	background: transparent;
	color: var(--color-main-dark);
	font-weight: 500;
	font-size: var(--text-current);
}

.backend-language-switcher *+* {
	margin-left: var(--standard-inner-rhythm);
}

.backend-language-switcher button:hover {
	color: var(--color-accent);
}
